* {
	padding: 0px;
	margin: 0px;
	border: none;
  	box-sizing: border-box;
	font-family: 'Source Code Pro', monospace;
}

body {
	background: #272544;
	height: 100%;
	width: 100%;
}

a, a:link, a:visited  {
    text-decoration: none;
}

a:hover  {
    text-decoration: none;
}

